body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1db954, #191414);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
